<div>
  <p>
    SolviQ es una empresa tecnológica que facilita el estudio en zonas rurales
    mediante soluciones de software integrales, transformando vidas y
    comunidades a través del aprendizaje.
  </p>
</div>
<style lang="scss">
  div {
    padding-inline: 1.6rem;
    padding-block: 4rem;

    p {
        margin: auto;
        text-align: center;
        max-width: 60ch;
        font-size: 1.6rem;
    }
  }
</style>
