

<div class="hero">
  <h1>Tecnología e innovación para la educación rural.</h1>
</div>
<style lang="scss">
  .hero {
    display: block;
    padding-block: 12rem;
    padding-inline: 1.6rem;
    background-image: url("/assets/housejungle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      max-width: fit-content;
      margin: auto;
      text-align: center;
      font-size: 4rem;
      max-width: 20ch;
      color: #f8ffed;
      text-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 60%);

    }
  }
</style>
